@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



.react-player {
width: 120px;
}

.page-item .page-link {
  @apply px-2 py-1 bg-white border border-gray-300 rounded text-gray-700 hover:bg-gray-100 hover:text-black;
}

.page-item.active .page-link {
  @apply bg-gray-500 text-white border-gray-500;
}