@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#__next {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  flex: 1; /* Esto hace que el main tome todo el espacio disponible */
}
.react-player {
width: 120px;
}

.page-item .page-link {
  @apply px-2 py-1 bg-white border border-gray-300 rounded text-gray-700 hover:bg-gray-100 hover:text-black;
}

.page-item.active .page-link {
  @apply bg-gray-500 text-white border-gray-500;
}

.react-datepicker__month-container {
  float: none; 
  width: 100%;
}

.react-datepicker__year-dropdown-container--select, .react-datepicker__month-dropdown-container--select, .react-datepicker__month-year-dropdown-container--select, .react-datepicker__year-dropdown-container--scroll, .react-datepicker__month-dropdown-container--scroll, .react-datepicker__month-year-dropdown-container--scroll {
  justify-content: space-around !important;
  margin:10px 20px 10px 20px !important;
}

.iiz__btn{
  background: none !important;
  color: white !important;
  display: none !important;
} 


.iiz__hint{
  color: white !important;
  padding: 0px !important;
  background-color: rgba(228, 204, 204, 0.308) !important;
}

